#header{
    height: 50%;
    width: 100%;
   
}
body{
    font-family: Helvetica, sans-serif;
    padding: 0px 10px 10px 10px;
    text-align: center;
}

h1{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    
}

.nav {
    list-style-type: none;
    margin: 0;
    position: relative;
    color: black;
    font-family: Helvetica, sans-serif;
    max-height: fit-content;
  
    
   
}
  .nav ul {
    position: flex;
    width: 161px;
    height: 16px;
    left: 100px;
    top: 23px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    
  }
  
  .nav a {
    text-decoration: none;
  
    padding: 0px 50px 0px 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: lighter;

  }
  .girl{
    width: 25%;
    height: 25%;
  }
  a{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .design-squiggle{
    width: 50%;
    height: 50%;

  }
