#header{
  height: 50%;
  width: 100%;
 
}
body{
  font-family: 'Roboto';
  text-align: center;
}

h1{
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  
}

.nav {}

.nav ul {
  position: flex;
  width: 261px;
  height: 16px;
  left: 100px;
  top: 23px;

  font-family: 'Roboto';
  font-style:normal
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;

  
}

.nav a {
  text-decoration: none;

  padding: 0px 50px 0px 50px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: lighter;

}
.girl{
  width: 25%;
  height: 25%;
  border: solid;
  border-color: black;
  border-width: 2px;
  padding: 0 300px 0 300px;
}
a{
  text-decoration: none;
  color: rgb(183, 2, 111);
  font-style: italic;
}

.section-headings{
  font-size: 20px;
  text-align: left;
  padding: 0 300px 0 300px;
}
.introduction{
  text-align: left;
  padding: 0 300px 0 300px;
}
