#header{
    font-size: 100%;
    width: 300%;
   
}
body{
    font-family:'Roboto';
    padding: 0 0px 0 1px;
    background-image:url("Untitled design.png");
    background-size:100%;
    background-position: 1px -150px;
    
    
}

h1{
    font-size: 100px;
    font-weight: bold;
    color: black;
    padding-left: 0.5in;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: left;
    position: relative;
    height: 500%;
    width: 800%;
    color: black;
    font-family:'Roboto';
    font-weight: bold;
    
   
}
  .nav ul {
    
    margin-right: 0;
    padding-bottom: 10px;
    display:flex;
    list-style: none;
    padding-right: -100%;
    box-sizing: content-box;
    
    
  }
  
  .nav a {
    text-decoration: none;
    align-items: center;
   
    padding: 30px 30px 20px 80px;
    font-size: 30px;
    color: black;
    font-weight: lighter;
    

    
  }
  
 

    
